{% extends "base_search.html" %}{% from "macros.html" import render_thumbnail_for_item %}

{% block body %}
    <div class="narrow-block">
        <h1>Admin page</h1>

        <hr>

        <div>
            <h3>Create user</h3>
            <div>
                <label for="user_name">Name:</label>
                <input id="user_name" type="text" value="" class="height-auto">
            </div>
            <div>
                <label for="user_login">Login:</label>
                <input id="user_login" type="text" value="" class="height-auto">
            </div>
            <div>
                <label for="user_password">Password:</label>
                <input id="user_password" type="text" value="" class="height-auto">
            </div>
            <input type="button" class="button control-button" onclick="createUser()" value="Create user">
        </div>

        <hr>

        <div>
            <h3>Rebuild known tags for anon</h3>
            <input type="button" class="button control-button" onclick="rebuildKnownTagsForAnon()" value="Rebuild">
        </div>

        <div>
            <h3>Rebuild known tags for user</h3>
            <div>
                <label for="rebuild_known_tags_user_uuid">User UUID:</label>
                <input id="rebuild_known_tags_user_uuid" type="text" value="" class="height-auto">
            </div>
            <input type="button" class="button control-button" onclick="rebuildKnownTagsForUser()" value="Rebuild">
        </div>

        <hr>

        <div>
            <h3>Rebuild known tags for all</h3>
            <input type="button" class="button control-button" onclick="rebuildKnownTagsForAll()" value="Rebuild">
        </div>

        <hr>

        <div>
            <h3>Rebuild computed tags for item</h3>
            <div>
                <label for="rebuild_computed_tags_item_uuid">Item UUID:</label>
                <input id="rebuild_computed_tags_item_uuid" type="text" value="" class="height-auto">
            </div>
            <input type="button" class="button control-button" onclick="rebuildComputedTags()" value="Rebuild">
        </div>

        <hr>

        <div>
            <h3>Rebuild computed tags for all items (not yet implemented)</h3>
             <input type="button" class="button control-button" onclick="rebuildComputedTagsForAll()" value="Rebuild">
        </div>

    </div>

    <script>
        function getXHR(url) {
            let xhr = new XMLHttpRequest()
            xhr.open('POST', url)
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhr.responseType = 'json'

            xhr.onload = function () {
                if (xhr.status !== 200) {
                    alert(`Error ${xhr.status}: ${xhr.statusText}`)
                } else {
                    alert(`Ok`)
                }
            };

            xhr.onerror = function () {
                console.log('Error: ' + xhr.response)
            };
            return xhr
        }

        function createUser() {
            let user_name_element = document.getElementById('user_name')
            let user_login = document.getElementById('user_login')
            let user_password = document.getElementById('user_password')

            if (!user_name_element || !user_login || !user_password)
                return

            let payload = JSON.stringify({
                name: user_name_element.value,
                login: user_login.value,
                password: user_password.value,
            });

            getXHR('/api/v1/users').send(payload)
        }

        function rebuildKnownTagsForAnon() {
            getXHR('/api/v1/actions/rebuild_known_tags_for_anon').send()
        }

        function rebuildKnownTagsForUser() {
            let element = document.getElementById('rebuild_known_tags_user_uuid')

            if (!element)
                return

            getXHR(`/api/v1/actions/rebuild_known_tags_for_user/${element.value}`).send()
        }

        function rebuildKnownTagsForAll() {
            getXHR('/api/v1/actions/rebuild_known_tags_for_all').send()
        }

        function rebuildComputedTags(alertsElementId) {
            let element = document.getElementById('rebuild_computed_tags_item_uuid')

            if (!element)
                return

            getXHR(`/api/v1/actions/rebuild_computed_tags/${element.value}`).send()
        }

        function rebuildKnownComputedTagsForAll() {
            getXHR('/api/v1/actions/rebuild_computed_tags_for_all').send()
        }
    </script>
    <br>

{% endblock %}
