<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon"
          href="{{ url_for('static', path='favicon.ico') }}">
    <link type="text/css"
          href="{{ url_for('static', path='styles.css') }}"
          rel="stylesheet">
    <script type="text/javascript"
            src="{{ url_for('static', path='code.js') }}"></script>
    {% block head %}{% endblock %}
    <title>Omoide</title>
</head>

<body>
<div id="header">
    <div class="query-container">

        <a href="{{ url_for('search') }}"
           title="Clear search query and show random items"
           class="button">
            <img src="{{ request.url_for('static', path='ic_home_24px.svg') }}"
                 class="invert"
                 alt="Home icon"/>
            <span class="wide-text">Home</span>
        </a>

        <label for="query">
            <input id="query_element"
                   name="query"
                   type="search"
                   value="{{ query.query.raw_query }}"
                   class="query_input"
                   placeholder="{{ placeholder }}" autofocus/>
        </label>

        <a href="javascript:void(0)"
           title="Press to perform search"
           onclick="goSearch()"
           class="button">
            <img src="{{ request.url_for('static', path='ic_search_24px.svg') }}"
                 class="invert"
                 alt="Looking glass icon"/>
            <span class="wide-text">Search</span>
        </a>

        {% if user.is_anon() %}
            <a href="{{ url_for('login') }}"
               title="Log in"
               class="button">
                <img src="{{ request.url_for('static', path='ic_perm_identity_24px.svg') }}"
                     class="invert"
                     alt="Log in icon"/>
                <span class="wide-text">Login</span>
            </a>
        {% else %}
            <a href="{{ url_for('logout') }}"
               title="Log in"
               class="button">
                <img src="{{ request.url_for('static', path='ic_exit_to_app_24px.svg') }}"
                     class="invert"
                     alt="Log out icon"/>
                <span class="wide-text">{{ user.name }}</span>
            </a>
        {% endif %}

    </div>

    {% block upper_body %}{% endblock %}

</div>

{% block body %}{% endblock %}
<script>
    document.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            goSearch()
        }
    });
</script>

{%- if config.omoide_injection %}
    {{ config.omoide_injection|safe }}
{% endif -%}

</body>
</html>
