<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon"
          href="{{ url_for('static', path='favicon.ico') }}">
    <link type="text/css"
          href="{{ url_for('static', path='styles.css') }}"
          rel="stylesheet">
    <script type="text/javascript"
            src="{{ url_for('static', path='code.js') }}"></script>
    {% block head %}{% endblock %}
    <title>Omoide</title>
</head>

<body>
<div id="header">
    <div class="query-container">
        <a href="{{ url_for('search') }}"
           title="Clear search query and show random items"
           class="button">
            <img src="{{ request.url_for('static', path='ic_home_24px.svg') }}"
                 class="invert"
                 alt="Home icon"/>
            <span class="wide-text">&nbsp;Home</span>
        </a>

        <label for="query">
            <input id="query_element"
                   name="query"
                   type="search"
                   value="{{ query.query.raw_query }}"
                   class="query_input"
                   placeholder="Enter one or more tags here" autofocus/>
        </label>

        <a href="javascript:void(0)"
           title="Press to perform search"
           onclick="goSearch()"
           class="button">
            <img src="{{ request.url_for('static', path='ic_search_24px.svg') }}"
                 class="invert"
                 alt="Looking glass icon"/>
            <span class="wide-text">&nbsp;Search</span>
        </a>

        {% if user.is_anon() %}
            <a href="{{ url_for('login') }}"
               title="Log in"
               class="button">
                <img src="{{ request.url_for('static', path='ic_perm_identity_24px.svg') }}"
                     class="invert"
                     alt="Log in icon"/>
                <span class="wide-text">&nbsp;Login</span>
            </a>
        {% else %}
            <a href="{{ url_for('profile') }}"
               title="Enter user profile"
               class="button">
                <img src="{{ request.url_for('static', path='ic_perm_identity_24px.svg') }}"
                     class="invert"
                     alt="Profile icon"/>
                <span class="wide-text">&nbsp;{{ user.name }}</span>
            </a>
        {% endif %}
    </div>

    {% if not user.is_anon() %}
        <div class="menu-container">
            {% if current_item %}
                {% set parent_hint = '?parent_uuid=' + current_item.uuid|string %}
            {% else %}
                {% set parent_hint = '' %}
            {% endif %}

            <a href="{{ url_for('create_item') + parent_hint }}"
               title="Create new item"
               class="button">
                <img src="{{ request.url_for('static', path='ic_create_24px.svg') }}"
                     class="invert"
                     alt="Create new item"/>
                <span class="wide-text">&nbsp;Create item</span>
            </a>

            <a href="{{ url_for('upload') + parent_hint }}"
               title="Upload media"
               class="button">
                <img src="{{ request.url_for('static', path='ic_file_upload_24px.svg') }}"
                     class="invert"
                     alt="Upload media"/>
                <span class="wide-text">&nbsp;Upload media</span>
            </a>

            <a href="{{ url_for('profile') }}" {# TODO #}
               title="Enter user profile"
               class="button">
                <img src="{{ request.url_for('static', path='ic_create_24px.svg') }}"
                     class="invert"
                     alt="Profile icon"/>
                <span class="wide-text">&nbsp;To random</span>
            </a>

            <a href="{{ url_for('profile') }}" {# TODO #}
               title="Enter user profile"
               class="button">
                <img src="{{ request.url_for('static', path='ic_perm_identity_24px.svg') }}"
                     class="invert"
                     alt="Profile icon"/>
                <span class="wide-text">&nbsp;To nested</span>
            </a>
        </div>
    {% endif %}

    {% block upper_body %}{% endblock %}

</div>

{% block body %}{% endblock %}
<script>
    document.addEventListener('keydown', function (event) {
        if (event.key === 'Enter'
            && ['/search',
                '/browse',
                '/preview'].includes(window.location.pathname)) {
            goSearch()
        }
    });
</script>

{%- if config.omoide_injection %}
    {{ config.omoide_injection|safe }}
{% endif -%}

</body>
</html>
