<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon"
          type='image/x-icon'
          href="{{ request.url_for('static', path='favicon.ico?' + version) }}">
    <link type="text/css"
          href="{{ request.url_for('static', path='styles.css?' + version) }}"
          rel="stylesheet">
    <link type="text/css"
          href="{{ request.url_for('static', path='navigation.css?' + version) }}"
          rel="stylesheet">
    <script type="text/javascript"
            src="{{ request.url_for('static', path='code.js?' + version) }}"></script>
    <script type="text/javascript"
            src="{{ request.url_for('static', path='navigation.js?' + version) }}"></script>
    <script type="text/javascript"
            src="{{ request.url_for('static', path='thirdparty/jquery-3.6.0.min.js') }}"></script>

    {%- block head %}{% endblock -%}

    {%- if current_item and current_item.name %}
        <title>Omoide: {{ current_item.name }}</title>
        <meta property="og:title"
              content="Omoide: {{ current_item.name }}"/>
    {% else %}
        <title>Omoide</title>
        <meta property="og:title"
              content="Omoide"/>
    {% endif -%}

</head>

<body>
<div id="header" class="header-static">
    <div id="sub_header" class="sub_header">
        <div class="query-container">

            {# Menu button ------------------------------------------------- #}
            <a title="Open menu"
               class="button"
               onclick="openNav()">
               <img src="{{ request.url_for('static', path='ic_menu_24px.svg') }}"
                    class="invert"
                    style="margin-right: 0"
                    alt="Menu icon"/>
            </a>
            {# ------------------------------------------------------------- #}

            {# Home button ------------------------------------------------- #}
            <a href="{{ request.url_for('app_home')|string + '?' + aim_wrapper.to_url_no_q(page=1) }}"
               title="{{ _('Go to starting page') }}"
               class="button">
                <img src="{{ request.url_for('static', path='ic_home_24px.svg') }}"
                     class="invert"
                     alt="Home icon"/>
                <span>{{ _('Home') }}</span>
            </a>
            {# ------------------------------------------------------------- #}

            {# Query field ------------------------------------------------- #}
            <div id="guess" class="guess">
                <input id="query_element"
                       name="query"
                       type="search"
                       value="{{ request.query_params.get('q', '') }}"
                       class="query_input"
                       autocomplete="off"
                       placeholder="Search (for example anime + artbook)"/>
            </div>
            {# ------------------------------------------------------------- #}

            {# Search button ----------------------------------------------- #}
            <a id="search_button"
               href="javascript:void(0)"
               title="Press to perform search"
               onclick="goSearch()"
               class="button">
                <img src="{{ request.url_for('static', path='ic_search.svg') }}"
                     alt="Looking glass icon"/>
                <span>{{ _('Search') }}</span>
            </a>
            {# ------------------------------------------------------------- #}

            {# Login button ------------------------------------------------ #}
            {% if user.is_anon %}
                <a href="{{ request.url_for('app_login') }}"
                   title="Enter credentials to log in"
                   class="button">
                    <img src="{{ request.url_for('static', path='ic_perm_identity_24px.svg') }}"
                         alt="Enter credentials to log in"/>
                    <span>{{ _('Login') }}</span>
                </a>
            {% else %}
                <a href="{{ request.url_for('app_profile') }}"
                   title="Currently logged in as"
                   class="button">
                    <img src="{{ request.url_for('static', path='ic_perm_identity_24px.svg') }}"
                         alt="Currently logged in as"/>
                    <span>{{ user.name }}</span>
                </a>
            {% endif %}
            {# ------------------------------------------------------------- #}
        </div>

        {% if user.is_not_anon %}
            <div class="menu-container">
                {% if current_item %}
                    {% set parent_hint = current_item.uuid | string %}
                {% else %}
                    {% set parent_hint = user.extras.root_item_uuid %}
                {% endif %}

                <a href="{{ request.url_for('app_create_item', parent_uuid=parent_hint) | string + '?' + aim_wrapper.to_url_no_q(page=1) }}"
                   title="{{ _('Create new item') }}"
                   class="button">
                    <img src="{{ request.url_for('static', path='ic_create_new_folder_24px.svg') }}"
                         alt="{{ _('Create new item') }}"/>
                    <span>{{ _('Create') }}</span>
                </a>

                <a href="{{ request.url_for('app_upload', parent_uuid=parent_hint) | string + '?' + aim_wrapper.to_url_no_q(page=1) }}"
                   title="{{ _('Upload media') }}"
                   class="button">
                    <img src="{{ request.url_for('static', path='ic_perm_media_24px.svg') }}"
                         alt="{{ _('Upload media') }}"/>
                    <span>{{ _('Upload') }}</span>
                </a>

                {% if current_item and current_item.owner_uuid | string == user.uuid | string %}
                    <a href="{{ request.url_for('app_update_item', item_uuid=parent_hint)|string + '?' + aim_wrapper.to_url_no_q(page=1) }}"
                       title="{{ _('Edit current item') }}"
                       class="button">
                        <img src="{{ request.url_for('static', path='ic_format_list_bulleted_24px.svg') }}"
                             alt="{{ _('Edit current item') }}"/>
                        <span>{{ _('Edit') }}</span>
                    </a>

                    <a href="{{ request.url_for('app_delete_item', item_uuid=parent_hint)|string + '?' + aim_wrapper.to_url_no_q(page=1) }}"
                       title="{{ _('Delete current item') }}"
                       class="button">
                        <img src="{{ request.url_for('static', path='ic_delete_24px.svg') }}"
                             alt="{{ _('Delete current item') }}"/>
                        <span>{{ _('Delete') }}</span>
                    </a>
                {% else %}
                    <a href="{{ request.url_for('app_update_item', item_uuid=parent_hint)|string + '?' + aim_wrapper.to_url_no_q(page=1) }}"
                       title="{{ _('Edit current item') }}"
                       class="button-disabled">
                        <img src="{{ request.url_for('static', path='ic_format_list_bulleted_24px.svg') }}"
                             alt="{{ _('Edit current item') }}"/>
                        <span>{{ _('Edit') }}</span>
                    </a>

                    <a href="{{ request.url_for('app_delete_item', item_uuid=parent_hint)|string + '?' + aim_wrapper.to_url_no_q(page=1) }}"
                       title="{{ _('Delete current item') }}"
                       class="button-disabled">
                        <img src="{{ request.url_for('static', path='ic_delete_24px.svg') }}"
                             alt="{{ _('Delete current item') }}"/>
                        <span>{{ _('Delete') }}</span>
                    </a>
                {% endif %}
            </div>
        {% endif %}

        {% block upper_body %}{% endblock %}

    </div>
    {% block header_top %}{% endblock %}
</div>

<div id="navbar" class="sidenav">
    <a href="javascript:void(0)"
       title="{{ _('Close menu') }}"
       onclick="closeNav()"
       class="button">
        <span title="Close">&times; {{ _('Close') }}</span>
    </a>

    <a href="{{ request.url_for('app_new') }}"
       class="button">{{ _('Whats new?') }}</a>

    {# Order button ------------------------------------------------ #}
    {% if block_ordered %}
        <a href="javascript:void(0)" class="button-disabled">

        {% if aim_wrapper.order == 'random' %}
            <img src="{{ request.url_for('static', path='ic_sort_random.svg') }}"
                 alt="Order is not supported in this section"/>
            <span title="Change view mode to see items ordered">{{ _('Random') }}</span>
        {% else %}
            <img src="{{ request.url_for('static', path='ic_sort_asc.svg') }}"
                 alt="Order is not supported in this section"/>
            <span title="Change view mode to see items in random order">{{ _('Ordered') }}</span>
        {% endif %}
    </a>
    {% else %}
        {% if aim_wrapper.order == 'random' %}
            <a href="javascript:void(0)"
               title="Change view mode to see items ordered"
               onclick="toggleOrder()"
               class="button">
                <img src="{{ request.url_for('static', path='ic_sort_random.svg') }}"
                     alt="Change view mode to see items ordered"/>
                <span title="Change view mode to see items ordered">{{ _('Random') }}</span>
            </a>
        {% else %}
            <a href="javascript:void(0)"
               title="Change view mode to see items in random order"
               onclick="toggleOrder()"
               class="button">
                <img src="{{ request.url_for('static', path='ic_sort_asc.svg') }}"
                     alt="Change view mode to see items ordered"/>
                <span>{{ _('Ordered') }}</span>
            </a>
        {% endif %}
    {% endif %}
    {# ------------------------------------------------------------- #}

    {# Collections button ------------------------------------------ #}
    {% if block_collections %}
        <a href="javascript:void(0)" class="button-disabled">
        {% if aim_wrapper.collections %}
            <img src="{{ request.url_for('static', path='ic_collections_on.svg') }}"
                 alt="Collection filtering is not supported in this section"/>
            <span title="Change view mode to see all items">{{ _('Collections') }}</span>
        {% else %}
            <img src="{{ request.url_for('static', path='ic_collections_off.svg') }}"
                 alt="Collection filtering is not supported in this section"/>
            <span title="Change view mode to see only collections">{{ _('All items') }}</span>
        {% endif %}
        </a>
    {% else %}
        {% if aim_wrapper.collections %}
            <a href="javascript:void(0)"
               title="Change view mode to see all items"
               onclick="toggleCollections()"
               class="button">
                <img src="{{ request.url_for('static', path='ic_collections_on.svg') }}"
                     alt="Change view mode to see all items"/>
                <span title="Change view mode to see all items">{{ _('Collections') }}</span>
            </a>
        {% else %}
            <a href="javascript:void(0)"
               title="Change view mode to see only collections"
               onclick="toggleCollections()"
               class="button">
                <img src="{{ request.url_for('static', path='ic_collections_off.svg') }}"
                     alt="Change view mode to see only collections"/>
                <span title="Change view mode to see only collections">{{ _('All items') }}</span>
            </a>
        {% endif %}
    {% endif %}
    {# ------------------------------------------------------------- #}

    {# Item connection button -------------------------------------- #}
    {% if block_direct %}
        <a href="javascript:void(0)" class="button-disabled">
        {% if aim_wrapper.direct %}
            <img src="{{ request.url_for('static', path='ic_collections_on.svg') }}"
                 alt="Nesting is not supported in this section"/>
            <span title="Change view mode to see all related items">{{ _('Direct') }}</span>
        {% else %}
            <img src="{{ request.url_for('static', path='ic_collections_off.svg') }}"
                 alt="Nesting is not supported in this section"/>
            <span title="Change view mode to see only directly connected items">{{ _('Related') }}</span>
        {% endif %}
    </a>
    {% else %}
        {% if aim_wrapper.direct %}
            <a href="javascript:void(0)"
               title="Change view mode to see all related items"
               onclick="toggleDirect()"
               class="button">
                <img src="{{ request.url_for('static', path='ic_collections_on.svg') }}"
                     alt="Change view mode to see all related items"/>
                <span title="Change view mode to see all related items">{{ _('Direct') }}</span>
            </a>
        {% else %}
            <a href="javascript:void(0)"
               title="Change view mode to see only directly connected items"
               onclick="toggleDirect()"
               class="button">
                <img src="{{ request.url_for('static', path='ic_collections_off.svg') }}"
                     alt="Change view mode to see only directly connected items"/>
                <span>{{ _('Related') }}</span>
            </a>
        {% endif %}
    {% endif %}
    {# ------------------------------------------------------------- #}

    {# Paged button ------------------------------------------------ #}
    {% if block_paginated or False %}
        <a href="javascript:void(0)" class="button-disabled">
        <img src="{{ request.url_for('static', path='ic_paginated_on.svg') }}"
             alt="Pagination is not supported in this section"/>
            {% if aim_wrapper.paged %}
                <span title="Change view mode to see items with dynamic load">{{ _('Paged load') }}</span>
            {% else %}
                <span title="Change view mode to see items paged load">{{ _('Dynamic load') }}</span>
            {% endif %}
    </a>
    {% else %}
        {% if aim_wrapper.paged %}
            <a href="javascript:void(0)"
               title="Change view mode to see items with dynamic load"
               onclick="togglePaged()"
               class="button">
                <img src="{{ request.url_for('static', path='ic_paginated_on.svg') }}"
                     alt="Change view mode to see items with dynamic load"/>
                <span>{{ _('Paged load') }}</span>
            </a>
        {% else %}
            <a href="javascript:void(0)"
               title="Change view mode to see items with paged load"
               onclick="togglePaged()"
               class="button">
                <img src="{{ request.url_for('static', path='ic_paginated_off.svg') }}"
                     alt="Change view mode to see items with paged load"/>
                <span>{{ _('Dynamic load') }}</span>
            </a>
        {% endif %}
    {% endif %}
    {# ------------------------------------------------------------- #}
</div>

<div id="content" class="content-static">
    {% block body %}{% endblock %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let input = document.getElementById('query_element');
        let currentFocus = -1;

        document.addEventListener('touchstart', e => {
            touchStartX = e.changedTouches[0].clientX;
            touchStartY = e.changedTouches[0].clientY;
        });

        document.addEventListener('touchend', e => {
            touchEndX = e.changedTouches[0].clientX;
            touchEndY = e.changedTouches[0].clientY;
            handleGesture();
        });

        input.addEventListener('keyup', function (e) {
            if (e.key !== 'ArrowUp' && e.key !== 'ArrowDown') {
                autocompleteTag(
                    this,
                    '{{ request.url_for('api_autocomplete') }}',
                )
            }
        })

        input.addEventListener('keydown', function (e) {
            let cont = document.getElementById(this.id + 'autocomplete-list');
            let items = []
            if (cont) items = cont.getElementsByTagName('div');
            if (e.key === 'ArrowDown') {
                currentFocus++;
                currentFocus = highlightActiveVariant(items, currentFocus);
            } else if (e.key === 'ArrowUp') {
                currentFocus--;
                currentFocus = highlightActiveVariant(items, currentFocus);
            } else if (e.key === 'Enter') {
                e.preventDefault();
                if (currentFocus > -1 && items && currentFocus < items.length) {
                    items[currentFocus].click();
                    currentFocus = -1
                    setFocusAtTheEnd(input)
                } else {
                    goSearch()
                }
            }
        });

        document.addEventListener('click', function (e) {
            clearAutocompletion(e.target);
        })
    })
</script>

</body>
</html>
