{% extends "browse_base.html" %}
{% from "macros.html" import render_paginator_by_item, render_lineage, render_thumbnail_for_item %}

{% block header_top %}
    {{ super() }}
    {{ render_lineage(request, parents, current_item, aim_wrapper) }}
{% endblock %}

{% block body %}
    {{ render_paginator_by_item(request, paginator, current_item.uuid, aim_wrapper) }}

    <div class="envelope-container">
        {% for item in result.items %}
            {{ render_thumbnail_for_item(request, item, item.extras.parent_name, aim_wrapper) }}
        {% endfor %}
    </div>

    {{ render_paginator_by_item(request, paginator, current_item.uuid, aim_wrapper) }}
    <script>
        $(document).ready(function () {
            activateFloatingHeader()
            updateHeaderPadding()
        });
    </script>
{% endblock %}
