{% extends "browse_base.html" %}
{% from "macros.html" import render_paginator_by_item, render_location, render_thumbnail_for_item %}

{% block header_top %}
    {{ super() }}
    {{ render_location(request, result.location, aim_wrapper) }}
{% endblock %}

{% block body %}
    {{ render_paginator_by_item(request, paginator, uuid, aim_wrapper) }}

    <div class="envelope-container">
        {% for item, name in zip(result.items, names) %}
            {{ render_thumbnail_for_item(request, item, name, aim_wrapper) }}
        {% endfor %}
    </div>

    {{ render_paginator_by_item(request, paginator, uuid, aim_wrapper) }}
    <script>
        $(document).ready(function () {
            activateFloatingHeader()
            updateHeaderPadding()
        });
    </script>
{% endblock %}
