{% extends "base_search.html" %}
{% from "macros.html" import render_paginator_by_item, render_location %}

{% block body %}

    {{ render_location(request, result.location) }}
    {{ render_paginator_by_item(request, paginator, query, uuid) }}

    <div class="envelope-container">
        {% for item in result.items %}
            <div class="envelope">

                {%- if item.is_collection %}
                    <a href="{{ url_for('browse', uuid=item.uuid) }}">
                {% else %}
                    <a href="{{ url_for('preview', uuid=item.uuid) }}">
                {% endif -%}

                {%- if item.name -%}
                    <p>{{ item.name }}</p>
                {%- endif -%}

                {%- if item.thumbnail_ext is none -%}
                    <img src="{{ url_for('static', path='empty.png') }}" alt="{{ item.name }}"/>
                {%- else -%}
                    <img src="/content/{{ item.owner_uuid }}/thumbnail/{{ item.path }}" alt="{{ item.name }}"/>
                {%- endif -%}
                </a>
            </div>
        {% endfor %}
    </div>

    {{ render_paginator_by_item(request, paginator, query, uuid) }}

{% endblock %}
