{% extends "base_search.html" %}

{% block head %}
    <script type="text/javascript"
            src="{{ url_for('static', path='crud.js') }}"></script>
    <link type="text/css"
          href="{{ url_for('static', path='crud.css') }}"
          rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="narrow-block">
        <h3>Creation of an item</h3>
        <label for="item_name">Item name:
            <input id="item_name"
                   type="text"
                   value=""
                   class="height-auto"/>
        </label>

        <label for="parent_uuid">Parent UUID:
            <input id="parent_uuid"
                   type="text"
                   value="{{ parent_uuid }}"
                   class="height-auto"
                   onchange="tryLoadingThumbnail('{{ user.uuid }}', '{{ request.url_for('static', path='empty.png') }}')"/>
        </label>

        {# TODO - uncomment this when name based search will be available #}
        {#        <label for="parent_name">Parent name:#}
        {#            <input id="parent_name"#}
        {#                   type="text"#}
        {#                   value=""#}
        {#                   class="height-auto"/>#}
        {#        </label>#}

        <div class="parent_thumbnail">
            <img id="item_thumbnail"
                 src="{{ request.url_for('static', path='empty.png') }}"
                 alt="Parent thumbnail"/>
        </div>

        <label for="item_tags">Tags (one tag per line):<br>
            <textarea id="item_tags" rows="10"></textarea>
        </label>

        <div>
            <input id="is_collection"
                   type="checkbox"
                   checked>
            <label for="is_collection">Collection</label>
        </div>

        <div>
            <input id="go_upload"
                   type="checkbox"
                   checked>
            <label for="go_upload">Add media after creation</label>
        </div>

        <div id="alerts"></div>

        <a href="javascript:void(0)"
           onclick="createItem('{{ request.url_for('api_create_item') }}')"
           title="Create item"
           class="button">Create</a>

    </div>

{% endblock %}
