{% extends "base_search.html" %}
{% from "macros.html" import render_thumbnail_for_item %}

{% block head %}
    <script type="text/javascript"
            src="{{ url_for('static', path='crud.js') }}"></script>
    <link type="text/css"
          href="{{ url_for('static', path='crud.css') }}"
          rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="narrow-block">
        <h3>Deletion of an item</h3>

        {{ render_thumbnail_for_item(request, item) }}

        <p>Target item: {{ item.name }}</p>
        <p>Owner of the item: {{ user.name }}</p>
        <p>You are going to delete {{ total }} element(s).</p>
        <p><strong>This operation cannot be undone!</strong></p>
        <div id="alerts"></div>

        <a href="javascript:void(0)"
           onclick="deleteItem('{{ request.url_for('api_delete_item') }}')"
           title="Delete item"
           class="button">Delete item with all sub-items</a>

    </div>

{% endblock %}
