{% extends "base_search.html" %}
{% from "macros.html" import render_thumbnail_for_item %}

{% block head %}
    <script type="text/javascript"
            src="{{ request.url_for('static', path='crud.js?' + version) }}"></script>
{% endblock %}

{% block body %}
    <div class="narrow-block">
        <h1>Creation of an item</h1>
        <label for="item_name">Item name:
            <input id="item_name"
                   type="text"
                   value=""
                   class="height-auto"/>
        </label>

        <label for="parent_uuid">Parent item:
            <input id="parent_uuid"
                   type="text"
                   value="{{ parent.uuid | string }}"
                   disabled
                   class="height-auto"/>
        </label>

        <div id="parent_thumbnail" class="parent_thumbnail">
            {{ render_thumbnail_for_item(request, parent, parent.name, aim_wrapper) }}
        </div>

        <div>
            <input type="checkbox"
                   id="item_is_collection"
                   checked>
            <label for="item_is_collection">New item is a collection</label>
        </div>

        <label for="action_after_creation">What to do after creation:</label>
        <select id="action_after_creation">
            <option value="upload">Upload content</option>
            <option value="browse">Browse result</option>
            <option value="nothing">Do nothing (stay here)</option>
        </select>

        <label for="item_tags">Tags (one tag per line):<br>
            <textarea id="item_tags" rows="10"></textarea>
        </label>

        <label for="item_permissions">Permissions (one user per line):<br>
            <textarea id="item_permissions" rows="10">
                {%- for user in permissions -%}
                    {{ user.uuid|string }} {{ user.name + '\n' }}{% endfor -%}</textarea>
        </label>

        <div id="alerts"></div>
        <a id="create_item_button"
           href="javascript:void(0)"
           title="Create item"
           onclick="createItem(this, '{{ endpoint }}', gatherItemParameters())"
           class="button">Create</a>
    </div>
    <br>

{% endblock %}
