{% extends "base_search.html" %}
{% from "macros.html" import render_thumbnail_for_item %}

{% block head %}
    <script type="text/javascript"
            src="{{ https_url_for(request, 'static', path='crud.js') }}"></script>
    <script type="text/javascript"
            src="{{ https_url_for(request, 'static', path='item_update.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="narrow-block">
        <h1>Item update</h1>

        <hr>

        <div>
            <h3>Parent</h3>
            <label for="item_parent">Parent UUID: </label>
            <input id="item_parent"
                   type="text"
                   value="{{ (item.parent_uuid or '')|string }}"
                   onchange="alterModelParentField(this)"
                   class="height-auto">

            <div id="thumbnail_parent" class="thumbnail"></div>

            <div id="alerts_parent"></div>
            <input id="save_parent"
                   type="button"
                   class="button control-button"
                   onclick="saveParent('{{ total }}', 'alerts_parent')"
                   value="Save parent">

            <input id="reset_parent"
                   type="button"
                   class="button control-button"
                   onclick="resetParent()"
                   value="Reset changes">
        </div>

        <hr>

        <div>
            <h3>Basic parameters</h3>

            <label for="item_uuid">Item UUID:
            </label>
            <input id="item_uuid"
                   type="text"
                   value="{{ item.uuid }}"
                   disabled
                   class="height-auto">

            <label for="item_name">Name:
            </label>
            <input id="item_name"
                   type="text"
                   value="{{ item.name }}"
                   onchange="alterModelTextField(this, 'name')"
                   class="height-auto">

            <div id="thumbnail" class="thumbnail"></div>
            <input id="new_thumbnail_parent"
                   type="button"
                   class="button control-button"
                   onclick="copyThumbnailFromGivenItem('{{ (item.parent_uuid or '')|string }}', '{{ item.uuid|string }}', 'alerts_basic')"
                   value="Use this thumbnail for parent item">
            <div>
                <input type="checkbox"
                        {{ 'checked' if item.is_collection else '' }}
                       onchange="alterModelBoolField(this, 'is_collection')"
                       id="item_is_collection">
                <label for="item_is_collection">Item is a collection</label>
            </div>

            <label for="item_content_ext">Content extension:</label>
            <input id="item_content_ext"
                   type="text"
                   value="{{ item.content_ext or '' }}"
                   onchange="alterModelTextField(this, 'content_ext')"
                   class="height-auto">

            <label for="item_preview_ext">Preview extension:</label>
            <input id="item_preview_ext"
                   type="text"
                   value="{{ item.preview_ext or '' }}"
                   onchange="alterModelTextField(this, 'preview_ext')"
                   class="height-auto">

            <label for="item_thumbnail_ext">Thumbnail extension:</label>
            <input id="item_thumbnail_ext"
                   type="text"
                   value="{{ item.thumbnail_ext or '' }}"
                   onchange="alterModelTextField(this, 'thumbnail_ext')"
                   class="height-auto">

            <div id="alerts_basic"></div>
            <input id="save_basic"
                   type="button"
                   class="button control-button"
                   onclick="saveBasic('alerts_basic')"
                   value="Save basic parameters">

            <input id="reset_basic"
                   type="button"
                   class="button control-button"
                   onclick="resetBasic()"
                   value="Reset changes">
        </div>

        <hr>

        <div>
            <h3>Tags for the item and dependant items</h3>
            <label for="item_tags">Tags (one tag per line): </label>
            <textarea id="item_tags"
                      onchange="alterModelTagsField(this)"
                      rows="10">
                {%- for tag in item.tags -%}{{ tag + '\n' }}{% endfor -%}
            </textarea>

            <label for="external_tags">Tags from the parent: </label>
            <textarea id="external_tags"
                      disabled
                      rows="10">
                {%- for tag in external_tags -%}{{ tag + '\n' }}{% endfor -%}
            </textarea>

            <div id="alerts_tags"></div>
            <input id="save_tags"
                   type="button"
                   class="button control-button"
                   onclick="saveTags('{{ total }}', 'alerts_tags')"
                   value="Save tags">

            <input id="reset_tags"
                   type="button"
                   class="button control-button"
                   onclick="resetTags()"
                   value="Reset changes">
        </div>

        <hr>

        <div>
            <h3>Users who can see this item</h3>
            <label for="item_permissions">One user per line, only
                UUID4: </label>
            <textarea id="item_permissions"
                      onchange="alterModelPermissionsField(this)"
                      rows="10">
                {%- for user in permissions -%}
                    {{ user.uuid|string }} {{ user.name + '\n' }}{% endfor -%}
            </textarea>

            <div>
                <input type="checkbox"
                       checked
                       id="item_perm_apply_to_parents">
                <label for="item_perm_apply_to_parents">Also apply to all
                    parent items</label>
            </div>

            <div>
                <input type="checkbox"
                       id="item_perm_apply_to_children">
                <label for="item_perm_apply_to_children">Also apply to all
                    child items</label>
            </div>

            <label for="propagate_permissions">Apply to children:</label><br>
            <select id="propagate_permissions">
                <option value="delta">Only changes (added and deleted)
                </option>
                <option value="copy">Overwrite everything with current
                </option>
            </select>

            <div id="alerts_permissions"></div>
            <input id="save_permissions"
                   type="button"
                   class="button control-button"
                   onclick="savePermissions('{{ total }}', 'alerts_permissions')"
                   value="Save permissions">

            <input id="reset_permissions"
                   type="button"
                   class="button control-button"
                   onclick="resetPermissions()"
                   value="Reset changes">
        </div>

    </div>

    <script>
        let oldModel = {{ model | safe }};
        let newModel = {{ model | safe }};
        let initialPermissions = {{ initial_permissions | safe }};

        $(document).ready(function () {
            tryLoadingThumbnail(
                '{{ item.parent_uuid or '' }}',
                $('#thumbnail_parent')
            )

            tryLoadingThumbnail('{{ item.uuid }}', $('#thumbnail'))
        });
    </script>
    <br>

{% endblock %}
