{% extends "base_search.html" %}
{% from "macros.html" import render_thumbnail_for_item %}

{% block head %}
    <script type="text/javascript"
            src="{{ url_for('static', path='crud.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="narrow-block">
        <h1>Deletion of an item</h1>

        <div id="thumbnail" class="thumbnail"></div>

        <p>Target item: <strong>{{ item.name or item.uuid }}</strong>
            <br>Owner of the item: <strong>{{ user.name }}</strong></p>

        <p>You are going to delete {{ total }} element(s).</p>

        <p><strong>This operation cannot be undone!</strong></p>
        <div id="alerts"></div>

        <a id="delete_item_button"
           href="javascript:void(0)"
           title="Delete item"
           class="button">Delete item with all children</a>

    </div>

    <script>
        $('#delete_item_button').click(function () {
            deleteItem(this, '{{ item.uuid }}')
        });

        $(document).ready(function () {
            tryLoadingThumbnail('{{ item.uuid }}', $('#thumbnail'))
        });
    </script>

{% endblock %}
