{% macro render_paginator(request, paginator, query) %}
    {% if paginator %}
        <div class="pages">
            {% if paginator.has_previous %}
                <a class="active-page page-separate"
                   href="{{ url_for(request, 'app_search') + query.at_page(paginator.previous_page).as_str() }}">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_left_18px.svg') }}"
                         alt="Previous"/>
                </a>
            {% else %}
                <a class="inactive-page page-separate">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_left_18px.svg') }}"
                         alt="Previous"/>
                </a>
            {% endif %}
            <span>&nbsp;</span>

            {% for page in paginator %}

                {% if paginator.total_pages == 1 %}
                    {% set corner_style = 'page-separate' %}
                {% elif page.number == 1 %}
                    {% set corner_style = 'page-left' %}
                {% elif page.number == paginator.total_pages %}
                    {% set corner_style = 'page-right' %}
                {% else %}
                    {% set corner_style = '' %}
                {% endif %}

                {% if page.is_dummy %}
                    <a class="inactive-page {{ corner_style }}">...</a>
                {% elif page.is_current %}
                    <a href="{{ url_for(request, 'app_search') + query.at_page(page.number).as_str() }}"
                       class="active-page {{ corner_style }}">{{ page.number }}</a>
                {% else %}
                    <a href="{{ url_for(request, 'app_search') + query.at_page(page.number).as_str() }}"
                       class="{{ corner_style }}">{{ page.number }}</a>
                {% endif %}
            {% endfor %}

            <span>&nbsp;</span>
            {% if paginator.has_next %}
                <a class="active-page page-separate"
                   href="{{ url_for(request, 'app_search') + query.at_page(paginator.next_page).as_str() }}">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_right_18px.svg') }}"
                         alt="Next"/>
                </a>
            {% else %}
                <a class="inactive-page page-separate">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_right_18px.svg') }}"
                         alt="Next"/>
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_paginator_search(request, paginator, aim) %}
    {% if paginator %}
        <div class="pages">
            {% if paginator.has_previous %}
                <a class="active-page page-separate"
                   href="{{ url_for(request, 'app_search') + '?' + aim.to_url(page=paginator.previous_page) }}">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_left_18px.svg') }}"
                         alt="Previous"/>
                </a>
            {% else %}
                <a class="inactive-page page-separate">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_left_18px.svg') }}"
                         alt="Previous"/>
                </a>
            {% endif %}
            <span>&nbsp;</span>

            {% for page in paginator %}


                {% if paginator.total_pages == 1 %}
                    {% set corner_style = 'page-separate' %}
                {% elif page.number == 1 %}
                    {% set corner_style = 'page-left' %}
                {% elif page.number == paginator.total_pages %}
                    {% set corner_style = 'page-right' %}
                {% else %}
                    {% set corner_style = '' %}
                {% endif %}

                {% if page.is_dummy %}
                    <a class="inactive-page {{ corner_style }}">...</a>
                {% elif page.is_current %}
                    <a href="{{ url_for(request, 'app_search') + '?' + aim.to_url(page=page.number) }}"
                       class="active-page {{ corner_style }}">{{ page.number }}</a>
                {% else %}
                    <a href="{{ url_for(request, 'app_search') + '?' + aim.to_url(page=page.number) }}"
                       class="{{ corner_style }}">{{ page.number }}</a>
                {% endif %}
            {% endfor %}

            <span>&nbsp;</span>
            {% if paginator.has_next %}
                <a class="active-page page-separate"
                   href="{{ url_for(request, 'app_search') + '?' + aim.to_url(page=paginator.next_page) }}">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_right_18px.svg') }}"
                         alt="Next"/>
                </a>
            {% else %}
                <a class="inactive-page page-separate">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_right_18px.svg') }}"
                         alt="Next"/>
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_paginator_by_item(request, paginator, uuid, aim_wrapper) %}
    {% if paginator %}
        <div class="pages">
            {% if paginator.has_previous %}
                <a class="active-page page-separate"
                   href="{{ url_for(request, 'app_browse', uuid=uuid) + '?' + aim_wrapper.to_url(page=paginator.previous_page) }}">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_left_18px.svg') }}"
                         alt="Previous"/>
                </a>
            {% else %}
                <a class="inactive-page page-separate">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_left_18px.svg') }}"
                         alt="Previous"/>
                </a>
            {% endif %}
            <span>&nbsp;</span>

            {% for page in paginator %}

                {% if paginator.total_pages == 1 %}
                    {% set corner_style = 'page-separate' %}
                {% elif page.number == 1 %}
                    {% set corner_style = 'page-left' %}
                {% elif page.number == paginator.total_pages %}
                    {% set corner_style = 'page-right' %}
                {% else %}
                    {% set corner_style = '' %}
                {% endif %}

                {% if page.is_dummy %}
                    <a class="inactive-page {{ corner_style }}">...</a>
                {% elif page.is_current %}
                    <a href="{{ url_for(request, 'app_browse', uuid=uuid) + '?' + aim_wrapper.to_url(page=page.number) }}"
                       class="active-page {{ corner_style }}">{{ page.number }}</a>
                {% else %}
                    <a href="{{ url_for(request, 'app_browse', uuid=uuid) + '?' + aim_wrapper.to_url(page=page.number) }}"
                       class="{{ corner_style }}">{{ page.number }}</a>
                {% endif %}
            {% endfor %}

            <span>&nbsp;</span>
            {% if paginator.has_next %}
                <a class="active-page page-separate"
                   href="{{ url_for(request, 'app_browse', uuid=uuid) + '?' + aim_wrapper.to_url(page=paginator.next_page) }}">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_right_18px.svg') }}"
                         alt="Next"/>
                </a>
            {% else %}
                <a class="inactive-page page-separate">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_right_18px.svg') }}"
                         alt="Next"/>
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_album(request, album, aim_wrapper) %}
    {% if album %}
        <div class="pages">
            {% if album.has_previous %}
                <a class="active-page page-separate"
                   href="{{ url_for(request, 'app_preview', uuid=album.previous_item) + '?' + aim_wrapper.to_url_no_q() }}">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_left_18px.svg') }}"
                         alt="Previous"/>
                </a>
            {% else %}
                <a class="inactive-page page-separate">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_left_18px.svg') }}"
                         alt="Previous"/>
                </a>
            {% endif %}
            <span>&nbsp;</span>

            {% for page in album %}
                {% if album.total_items == 1 %}
                    {% set corner_style = 'page-separate' %}
                {% elif page.number == 1 %}
                    {% set corner_style = ' page-left' %}
                {% elif page.number == album.total_items %}
                    {% set corner_style = ' page-right' %}
                {% else %}
                    {% set corner_style = '' %}
                {% endif %}

                {% if page.is_dummy %}
                    <a class="inactive-page {{ corner_style }}">...</a>
                {% elif page.is_current %}
                    <a href="{{ url_for(request, 'app_preview', uuid=page.value) + '?' + aim_wrapper.to_url_no_q() }}"
                       class="active-page{{ corner_style }}">{{ page.number }}</a>
                {% else %}
                    <a href="{{ url_for(request, 'app_preview', uuid=page.value)+ '?' + aim_wrapper.to_url_no_q() }}"
                       class="{{ corner_style }}">{{ page.number }}</a>
                {% endif %}
            {% endfor %}

            <span>&nbsp;</span>
            {% if album.has_next %}
                <a class="active-page page-separate"
                   href="{{ url_for(request, 'app_preview', uuid=album.next_item) + '?' + aim_wrapper.to_url_no_q() }}">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_right_18px.svg') }}"
                         alt="Next"/>
                </a>
            {% else %}
                <a class="inactive-page page-separate">
                    <img src="{{ url_for(request, 'static', path='ic_chevron_right_18px.svg') }}"
                         alt="Next"/>
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_location(request, location, aim_wrapper) %}
    {% if location is not none %}
        <div class="location">
            <h3>
                {% for pos in location %}
                    {% if not loop.first %}
                        <span>&nbsp;/&nbsp;</span>
                    {% endif %}

                    {% if pos.item.is_collection %}
                        <a href="{{ url_for(request, 'app_browse', uuid=pos.item.uuid) + '?' + aim_wrapper.to_url_no_q(page=pos.page) }}">
                            {{ pos.item.name or '???' }}
                        </a>
                    {% else %}
                        <a href="{{ url_for(request, 'app_preview', uuid=pos.item.uuid) + '?' + aim_wrapper.to_url_no_q() }}">
                            {{ pos.item.name or '???' }}
                        </a>
                    {% endif %}
                {% endfor %}

                {% if location.current_item and location.current_item.is_collection %}
                    {% if location.items | length != 0 %}
                        <span>&nbsp;/&nbsp;</span>
                    {% endif %}
                    {{ location.current_item.name }}
                    <a href="{{ url_for(request, 'app_items_download', uuid=location.current_item.uuid) }}">
                        <img class="download"
                             src="{{ url_for(request, 'static', path='download_48.svg') }}"
                             alt="Download button"
                             title="Download inner items"/></a>
                {% endif %}
            </h3>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_simple_location(request, location, aim_wrapper) %}
    {% if location is not none %}
        <div class="location">
            <h3>
                {% for item in location %}
                    {% if not loop.first %}
                        <span>&nbsp;/&nbsp;</span>
                    {% endif %}

                    {% if loop.last %}
                        {{ item.name }}
                        <a href="{{ url_for(request, 'app_items_download', uuid=item.uuid) }}">
                            <img class="download"
                                 src="{{ url_for(request, 'static', path='download_48.svg') }}"
                                 alt="Download button"
                                 title="Download inner items"/></a>
                    {% else %}
                        {% if item.is_collection %}
                            <a href="{{ url_for(request, 'app_browse', uuid=item.uuid) + '?' + aim_wrapper.to_url_no_q() }}">
                                {{ item.name or '???' }}
                            </a>
                        {% else %}
                            <a href="{{ url_for(request, 'app_preview', uuid=item.uuid) + '?' + aim_wrapper.to_url_no_q() }}">
                                {{ item.name or '???' }}
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </h3>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_thumbnail_for_item(request, locate, item, name, aim_wrapper) %}
    {% if item.is_collection %}
        {% set additional_style = ' env-collection' %}
    {% else %}
        {% set additional_style = '' %}
    {% endif %}

    <div class="envelope {{ additional_style }}">

        {%- if item.is_collection %}
            <a href="{{ url_for(request, 'app_browse', uuid=item.uuid) + '?' + aim_wrapper.to_url(page=1) }}"
               title="{{ name }}">
        {% else %}
            <a href="{{ url_for(request, 'app_preview', uuid=item.uuid) + '?' + aim_wrapper.to_url(page=1) }}"
               title="{{ name }}">
        {% endif -%}

        {%- if item.is_collection and item.name -%}
            <p>{{ item.name }}</p>
        {%- endif -%}

        {%- if item.thumbnail_ext is none -%}
            <img src="{{ url_for(request, 'static', path='empty.png') }}"
                 alt="thumbnail for the item"
                 title="{{ name }}"/>
        {%- else -%}
            <img src="{{ locate(item).thumbnail }}"
                 alt="thumbnail for the item"
                 title="{{ name }}"/>
        {%- endif -%}
        </a>
    </div>
{% endmacro %}
