{% extends "base_search.html" %}
{% from "macros.html" import render_album, render_location %}

{% block body %}

    {{ render_location(request, result.location, aim) }}

    <div class="preview">

        {{ render_album(request, album) }}

        <div class="preview-image">

            {% if album.has_previous %}
                <a class="preview-swipe"
                   href="{{ url_for('preview', uuid=album.previous_item) }}">
                    <img src="{{ request.url_for('static', path='ic_arrow_back_24px.svg') }}"
                         alt="Previous"/>
                </a>
            {% else %}
                <a class="preview-swipe preview-swipe-inactive">&nbsp;</a>
            {% endif %}

            <a href="/content/content/{{ item.owner_uuid }}/{{ item.content_path }}">
                {%- if item.preview_ext is none -%}
                    <img src="{{ url_for('static', path='empty.png') }}"
                         alt="{{ item.name }}"/>
                {%- else -%}
                    <img src="/content/preview/{{ item.owner_uuid }}/{{ item.preview_path }}"
                         alt="{{ item.name }}"/>
                {%- endif -%}
            </a>

            {% if album.has_next %}
                <a class="preview-swipe"
                   href="{{ url_for('preview', uuid=album.next_item) }}">
                    <img src="{{ request.url_for('static', path='ic_arrow_forward_24px.svg') }}"
                         alt="Next"/>
                </a>
            {% else %}
                <a class="preview-swipe preview-swipe-inactive">&nbsp;</a>
            {% endif %}

        </div>

        <br>

        <div class="preview-tags">
            {% for tag in item.tags %}
                {% if tag %}
                    <div class="tag-box">
                        <a href="{{ url_for('search') }}?q={{ tag }}">{{ tag }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
{% endblock %}
