{% extends "base_search.html" %}
{% from "macros.html" import render_album, render_location %}

{% block body %}

    {{ render_location(request, result.location) }}

    <div class="preview">

        {{ render_album(request, album) }}

        <div class="preview-image">

            {% if album.has_previous %}
                <a class="preview-swipe" href="{{ url_for('preview', uuid=album.previous_item) }}">Previous</a>
            {% else %}
                <a class="preview-swipe preview-swipe-inactive">&nbsp;</a>
            {% endif %}

            <a href="/content/{{ item.owner_uuid }}/content/{{ item.content_location }}">
                {%- if item.preview_ext is none -%}
                    <p>{{ item.name }}</p>
                    <img src="{{ url_for('static', path='empty.png') }}"
                         alt="{{ item.name }}"/>
                {%- else -%}
                    <img src="/content/{{ item.owner_uuid }}/preview/{{ item.preview_location }}"
                         alt="{{ item.name }}"/>
                {%- endif -%}
            </a>

            {% if album.has_next %}
                <a class="preview-swipe" href="{{ url_for('preview', uuid=album.next_item) }}">Next</a>
            {% else %}
                <a class="preview-swipe preview-swipe-inactive">&nbsp;</a>
            {% endif %}

        </div>

        <hr>

        <div class="preview-tags">
            {% if item.tags %}
                {% for tag in item.tags %}
                    <div class="tag-box">
                        <a href="{{ url_for('search') }}?q={{ tag }}">{{ tag }}</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <br>

    </div>
{% endblock %}
