{% extends "base_search.html" %}
{% from "macros.html" import render_album, render_location %}

{% block body %}

    {{ render_location(request, result.location, aim_wrapper) }}

    <div class="preview">

        {{ render_album(request, album, aim_wrapper) }}

        <div class="preview-image">

            {% if album.has_previous %}
                <a class="preview-swipe"
                   href="{{ url_for('app_preview', uuid=album.previous_item) + '?' + aim_wrapper.to_url_no_q() }}">
                    <img src="{{ request.url_for('static', path='ic_arrow_back_24px.svg') }}"
                         alt="Previous"/>
                </a>
            {% else %}
                <a class="preview-swipe preview-swipe-inactive">&nbsp;</a>
            {% endif %}

            {% if item.is_collection %}
                <div class="envelope env-collection">
                    {%- if item.is_collection and item.name -%}
                        <p>{{ item.name }}</p>
                    {%- endif -%}

                    <a href="{{ request.url_for('app_browse', uuid=item.uuid) + '?' + aim_wrapper.to_url_no_q(page=1) }}">
                        {%- if item.thumbnail_ext is none -%}
                            <img src="{{ url_for('static', path='empty.png') }}"
                                 alt="{{ item.name }}"/>
                        {%- else -%}
                            <img src="/content/thumbnail/{{ item.owner_uuid }}/{{ item.thumbnail_path }}"
                                 alt="{{ item.name }}"/>
                        {%- endif -%}
                    </a>
                </div>
            {% else %}
                <a href="/content/content/{{ item.owner_uuid }}/{{ item.content_path }}">
                    {%- if item.preview_ext is none -%}
                        <img src="{{ url_for('static', path='empty.png') }}"
                             alt="{{ item.name }}"/>
                    {%- else -%}
                        <img src="/content/preview/{{ item.owner_uuid }}/{{ item.preview_path }}"
                             alt="{{ item.name }}"/>
                    {%- endif -%}
                </a>
            {% endif %}

            {% if album.has_next %}
                <a class="preview-swipe"
                   href="{{ url_for('app_preview', uuid=album.next_item) + '?' + aim_wrapper.to_url_no_q() }}">
                    <img src="{{ request.url_for('static', path='ic_arrow_forward_24px.svg') }}"
                         alt="Next"/>
                </a>
            {% else %}
                <a class="preview-swipe preview-swipe-inactive">&nbsp;</a>
            {% endif %}

        </div>

        <div class="preview-tags">
            {% for wrapper in result.location.items %}
                {% if wrapper.item.name %}
                    {% if wrapper.item.is_collection %}
                        <a href="{{ url_for('app_browse', uuid=wrapper.item.uuid) + '?' + aim_wrapper.to_url_no_q() }}"
                           class="tag-box tag-box-item">{{ wrapper.item.name }}</a>
                    {% else %}
                        <a href="{{ url_for('app_search') + '?' + aim_wrapper.to_url(q=wrapper.item.uuid) }}"
                           class="tag-box tag-box-item">{{ wrapper.item.name }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="preview-tags">
            {% for tag in tags %}
                {% if tag %}
                    <a href="{{ url_for('app_search') }}?q={{ tag | urlencode }}"
                       class="tag-box">{{ tag }}</a>
                {% endif %}
            {% endfor %}
        </div>

    </div>
{% endblock %}
