{% extends "base_search.html" %}

{% block body %}
    <div class="narrow-block">
        <table>
            <tr>
                <th colspan="2">All tags</th>
            </tr>
            <tr>
                <th>Tag</th>
                <th>Times used</th>
            </tr>
            {% for tag, counter in known_tags %}
                <tr>
                    <td>
                        <a href="{{ https_url_for(request, 'app_search') + '?' + aim_wrapper.to_url(q=tag) }}" class="to-top-link">{{ tag }}</a>
                    </td>
                    <td>{{ sep_digits(counter) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
