{% extends "base_search.html" %}

{% block body %}
    <br>
    <h5>{{ _('Current user') }}: {{ user.name }}</h5>
    <br>

    <div class="narrow-block">

        <a href="{{ request.url_for('app_profile_new') }}"
           class="button">{{ _('Whats new?') }}</a>

        <a href="{{ request.url_for('app_profile_tags') }}"
           class="button">{{ _('Show all tags') }}</a>

        <a href="{{ request.url_for('app_profile_usage') }}"
           class="button">{{ _('Show used space') }}</a>

        <a href="{{ request.url_for('app_profile_duplicates') }}"
           class="button">{{ _('Show duplicated items') }}</a>

        <a href="{{ request.url_for('app_logout') }}"
           title="{{ _('Log out') }}"
           class="button">
            <img src="{{ request.url_for('static', path='ic_exit.svg') }}"
                 class="invert"
                 alt="{{ _('Log out') }}"/>
            <span>{{ _('Log out') }}</span>
        </a>

    </div>

{% endblock %}
