{% extends "base_search.html" %}

{% block body %}
    <div class="narrow-block">
        <table>
            <tr>
                <th colspan="2">{{ _('All tags') }}</th>
            </tr>
            <tr>
                <th>{{ _('Tag') }}</th>
                <th>{{ _('Times used') }}</th>
            </tr>
            {% for tag, counter in known_tags.items() %}
                <tr>
                    <td>
                        <a href="{{ request.url_for('app_search')|string + '?' + aim_wrapper.to_url(q=tag) }}" class="to-top-link">{{ tag }}</a>
                    </td>
                    <td>{{ sep_digits(counter) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
