{% extends "base_search.html" %}

{% block body %}
    <div class="narrow-block">
        <div>
            <h3>Total items: {{ sep_digits(total_items) }}</h3>
            <h3>Total space used:</h3>
            <ul>
                <li>Content: {{ byte_count_to_text(items_size.content_size) }}</li>
                <li>Preview: {{ byte_count_to_text(items_size.preview_size) }}</li>
                <li>Thumbnails: {{ byte_count_to_text(items_size.thumbnail_size) }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
