{% extends "base_search.html" %}

{% block body %}
    <br>
    <h5>Current user: {{ user.name }}</h5>
    <br>

    <div class="narrow-block">

        <a href="{{ request.url_for('app_profile_new') }}"
           class="button">Whats new?</a>

        <a href="{{ request.url_for('app_profile_tags') }}"
           class="button">Show all tags</a>

        <a href="{{ request.url_for('app_profile_usage') }}"
           class="button">Show used space</a>

        <a href="{{ request.url_for('app_logout') }}"
           title="Log out"
           class="button">
            <img src="{{ request.url_for('static', path='ic_exit_to_app_24px.svg') }}"
                 class="invert"
                 alt="Log out icon"/>
            <span>Log out</span>
        </a>

    </div>

{% endblock %}
