{% extends "base_search.html" %}

{% block body %}
    <div class="narrow-block">
        <table>
            <tr>
                <th colspan="2">{{ _('Items by number') }}</th>
            </tr>
            <tr>
                <td>{{ _('Total items') }}</td>
                <td>{{ sep_digits(total_items) }}</td>
            </tr>
            <tr>
                <td>{{ _('Total collections') }}</td>
                <td>{{ sep_digits(total_collections) }}</td>
            </tr>
            <tr>
                <th colspan="2">{{ _('Items by size') }}</th>
            </tr>
            <tr>
                <td>{{ _('Content') }}</td>
                <td>{{ human_readable_size(size.content_size) }}</td>
            </tr>
            <tr>
                <td>{{ _('Previews') }}</td>
                <td>{{ human_readable_size(size.preview_size) }}</td>
            </tr>
            <tr>
                <td>{{ _('Thumbnails') }}</td>
                <td>{{ human_readable_size(size.thumbnail_size) }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <strong>{{ human_readable_size(size.content_size + size.preview_size + size.thumbnail_size) }}</strong>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
