{% extends "base_search.html" %}

{% block body %}
    <div class="narrow-block">
        <table>
            <tr>
                <th colspan="2">Items by number</th>
            </tr>
            <tr>
                <td>Total items</td>
                <td>{{ sep_digits(total_items) }}</td>
            </tr>
            <tr>
                <td>Total collections</td>
                <td>{{ sep_digits(total_collections) }}</td>
            </tr>
            <tr>
                <th colspan="2">Items by size</th>
            </tr>
            <tr>
                <td>Content</td>
                <td>{{ human_readable_size(size.content_size) }}</td>
            </tr>
            <tr>
                <td>Previews</td>
                <td>{{ human_readable_size(size.preview_size) }}</td>
            </tr>
            <tr>
                <td>Thumbnails</td>
                <td>{{ human_readable_size(size.thumbnail_size) }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <strong>{{ human_readable_size(size.content_size + size.preview_size + size.thumbnail_size) }}</strong>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
