{% extends "base_search.html" %}
{% from "macros.html" import render_paginator, render_thumbnail_for_item %}

{% block head %}
    <script type="text/javascript"
            src="{{ url_for('static', path='scroller.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="envelope-container">
        {% for item in result.items %}
            {{ render_thumbnail_for_item(request, item, aim) }}
        {% endfor %}
    </div>

    <script>
        let container = document.querySelector('.envelope-container')
        let endpoint = '{{ request.url_for('api_random') }}'
        let scroller = new Scroller(container, endpoint)
        let callback = function () {
            scroller.trigger()
        }

        window.addEventListener('scroll', callback)
        scroller.intervalId = setInterval(callback, SCROLLER_INTERVAL)
        callback()
    </script>

{% endblock %}
