{% extends "base_search.html" %}

{% block body %}

    <div class="envelope-container">
        {% for item in result.items %}
            <div class="envelope">
                <p>{{ item.name }}</p>
                <a
                        {% if item.is_collection %}
                            href="{{ url_for('browse', uuid=item.uuid) }}"
                        {% else %}
                            href="{{ url_for('preview', uuid=item.uuid) }}"
                        {% endif %}>

                    {% if item.ext is none %}
                        <img src="{{ url_for('static', path='empty.png') }}"
                             alt="{{ item.name }}"/>
                    {% else %}
                        <img src="/content/{{ item.owner_uuid }}/thumbnail/{{ item.uuid[:2] }}/{{ item.uuid }}.{{ item.ext }}"
                             alt="{{ item.name }}"/>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
