{% extends "base_search.html" %}
{% from "macros.html" import render_paginator, render_thumbnail_for_item %}

{% block body %}

    <div class="envelope-container">
        {% for item in result.items %}
            {{ render_thumbnail_for_item(request, item, aim) }}
        {% endfor %}
    </div>

    <script>
        let container = document.querySelector('.envelope-container');

        window.addEventListener('scroll', function () {
            setTimeout(() => {
                loadMoreItems(
                    '{{ request.url_for('api_random', items_per_page=details.items_per_page_async) }}',
                    container,
                );
            }, 1000); // one second
        });
    </script>

{% endblock %}
