{% extends "base_search.html" %}
{% from "macros.html" import render_thumbnail_for_item %}

{% block head %}
    <script type="text/javascript"
            src="{{ request.url_for('static', path='crud.js?' + version) }}"></script>
    <script type="text/javascript"
            src="{{ request.url_for('static', path='thirdparty/image-blob-reduce.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ request.url_for('static', path='thirdparty/exif-js.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ request.url_for('static', path='upload.js?' + version) }}"></script>
{% endblock %}

{% block body %}
    <div class="narrow-block">
        <h1>Uploading media</h1>

        <label for="parent_uuid">Owner of the item:</label>
        <div style="display: flex; flex-direction: row; align-items: center">
            <input id="owner_uuid"
                   type="text"
                   value="{{ current_item.owner_uuid }}"
                   disabled
                   class="height-auto"/>
            <a href="javascript:void(0)"
               onclick="copyText('{{ current_item.owner_uuid }}', 'owner ID', 'copy-alerts-owner')"
               style="height: 100%">
                <img class="icon-big"
                     src="{{ request.url_for('static', path='ic_copy_uuid.svg') }}"
                     alt="Copy ID"
                     title="Copy ID"/></a>
        </div>
        <div id="copy-alerts-owner"></div>

        <label for="parent_uuid">Parent item:</label>
        <div style="display: flex; flex-direction: row; align-items: center">
            <input id="parent_uuid"
                   type="text"
                   value="{{ current_item.uuid }}"
                   disabled
                   class="height-auto"/>
            <a href="javascript:void(0)"
               onclick="copyText('{{ current_item.uuid }}', 'parent ID', 'copy-alerts-parent')"
               style="height: 100%">
                <img class="icon-big"
                     src="{{ request.url_for('static', path='ic_copy_uuid.svg') }}"
                     alt="Copy ID"
                     title="Copy ID"/></a>
        </div>
        <div id="copy-alerts-parent"></div>

        <div id="parent_thumbnail" class="parent_thumbnail">
            {{ render_thumbnail_for_item(request, current_item, "", aim_wrapper) }}
        </div>

        <label for="upload_as">Upload media in a way that:</label>
        <select id="upload_as">
            <option value="children">Every given file is a new item</option>
            <option value="target">Only change current item</option>
        </select>

        <label for="after_upload">After upload:</label>
        <select id="after_upload">
            <option value="parent">Go browse result</option>
            <option value="nothing">Do nothing (stay here)</option>
            <option value="again">Clear and load more</option>
        </select>

        <label for="item_tags">Tags for every new item (one tag per line):<br>
            <textarea id="item_tags" rows="10"></textarea>
        </label>

        <label for="item_permissions">Permissions (one user per line):<br>
            <textarea id="item_permissions" rows="10">
                {%- for user in users_with_permission -%}
                    {{ user.uuid | string + ' ' + user.name + '\n' }}{% endfor -%}</textarea>
        </label>

        <div>
            <input type="checkbox" id="auto-continue">
            <label for="auto-continue">Automatically confirm each next step
            </label>
        </div>

        <div>
            <input type="checkbox" id="feature-exif">
            <label for="feature-exif">Extract EXIF info (if uploading
                photos)</label>
        </div>

        <div id="all-features-exif" style="display: none;">
            <div>
                <input type="checkbox" id="feature-exif-backoff">
                <label for="feature-exif-backoff">Get time info from file if
                    there is no EXIF</label>
            </div>
            <div>
                <input type="checkbox" id="feature-exif-year" checked>
                <label for="feature-exif-year">Extract year from EXIF, like
                    "2022"</label>
            </div>
            <div>
                <input type="checkbox" id="feature-exif-month-en">
                <label for="feature-exif-month-en">Extract month from EXIF in
                    english, like "10 january"</label>
            </div>
            <div>
                <input type="checkbox" id="feature-exif-month-ru" checked>
                <label for="feature-exif-month-ru">Extract month from EXIF in
                    russian, like "10 января"</label>
            </div>
        </div>

        <input id="clear-button"
               type="button"
               class="button"
               style="display: none"
               onclick="clearProxies()"
               value="Clear all">

        <input type="file"
               id="upload-input"
               multiple
               accept=".jpg, .jpeg, .png, .webp"
               onchange="addFiles(this)"/>

        <div id="alerts"></div>

        <input id="media_button"
               type="button"
               class="button"
               onclick="goUpload(this, UPLOAD_STATE)"
               value="Preprocess media">

        <div id="global-status"></div>

    </div>

    <br/>
    <div id="media-log" class="upload-container medium-block"></div>
    <br/>

    <div id="scroll-bottom"
         style="display: none"
         class="narrow-block">
        <input type="button"
               class="button-nav"
               onclick="jumpToBottom()"
               value="Jump to bottom">
    </div>

    <div id="media" class="upload-container medium-block"></div>

    <div id="scroll-top"
         style="display: none"
         class="narrow-block">
        <input type="button"
               class="button-nav"
               onclick="jumpToTop()"
               value="Jump to top">
    </div>

    <br/>

    <script>
        const UPLOAD_STATE = createUploadState('global-status')

        $('#upload_as').on('change', function () {
            clearProxies()

            if ($(this).val() === 'target') {
                $("label[for='item_tags']").hide()
            } else {
                $("label[for='item_tags']").show()
            }
        });

        $('#auto-continue').on('change', function () {
            if ($(this).is(':checked')) {
                let dropdown = $('#after_upload')
                dropdown.val('again')
                dropdown.change();
                UPLOAD_STATE.features['autoContinue'] = true
            } else {
                UPLOAD_STATE.features['autoContinue'] = false
            }
        });

        $('#feature-exif').on('change', function () {
            if ($(this).is(':checked')) {
                $('#all-features-exif').show()
                EXPECTED_STEPS.add('uploadEXIFProxy')
            } else {
                $('#all-features-exif').hide()
                EXPECTED_STEPS.delete('uploadEXIFProxy')
            }
            UPLOAD_STATE.features['extractFeatures'] = $(this).is(':checked')
            UPLOAD_STATE.features['extractYear'] = $('#feature-exif-year').is(':checked')
            UPLOAD_STATE.features['extractMonthEN'] = $('#feature-exif-month-en').is(':checked')
            UPLOAD_STATE.features['extractMonthRU'] = $('#feature-exif-month-ru').is(':checked')
        });

        $('#feature-exif-year').on('change', function () {
            UPLOAD_STATE.features['extractYear'] = $(this).is(':checked')
        });

        $('#feature-exif-month-en').on('change', function () {
            UPLOAD_STATE.features['extractMonthEN'] = $(this).is(':checked')
        });

        $('#feature-exif-month-ru').on('change', function () {
            UPLOAD_STATE.features['extractMonthRU'] = $(this).is(':checked')
        });
    </script>

{% endblock %}
