{% extends "base_search.html" %}

{% block head %}
    <script type="text/javascript"
            src="{{ url_for('static', path='crud.js') }}"></script>
    <script type="text/javascript"
        src="{{ url_for('static', path='thirdparty/image-blob-reduce.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', path='upload.js') }}"></script>
    <link type="text/css"
          href="{{ url_for('static', path='crud.css') }}"
          rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="narrow-block">
        <h1>Upload media</h1>
        <label for="parent_uuid">Parent UUID (optional):
            <input id="parent_uuid"
                   type="text"
                   value="{{ parent_uuid }}"
                   class="height-auto"/>
        </label>

        <div id="parent_thumbnail" class="parent_thumbnail"></div>

        <label for="upload_as">Upload media in a way that:</label>
        <select id="upload_as">
            <option value="children">Every file is a new child item</option>
            <option value="target">File is used only for given parent</option>
        </select>

        <label for="after_upload">After upload:</label>
        <select id="after_upload">
            <option value="parent">Go browse parent</option>
            <option value="nothing">Do nothing (stay here)</option>
        </select>

        <label for="item_tags">Children tags (one tag per line):<br>
            <textarea id="item_tags" rows="10"></textarea>
        </label>

        <input type="file"
               id="upload-input"
               multiple
               accept=".jpg, .jpeg"
               onchange="addFiles(this)"/>

        <div id="alerts"></div>


    </div>

    <div id="media" class="upload-container"></div>

    <div class="narrow-block">
        <input id="preprocess_media_button"
               type="button"
               title="Preprocess media"
               class="button"
               value="Preprocess media">

        <input id="upload_media_button"
               type="button"
               title="Upload media"
               class="button"
               value="Upload media">
    </div>

    <script>
        $('#preprocess_media_button').click(function () {
            preprocessMedia(this)
        });

        $('#upload_media_button').click(function () {
            uploadMedia(this)
        });

        $('#upload_as').on('change', function () {
            clearProxies()
        });

        let thumbnailElement = $('#parent_thumbnail')
        let uuidElement = $('#parent_uuid')

        uuidElement.on('input', function () {
            tryLoadingThumbnail(uuidElement.val(), thumbnailElement)
        });

        $(document).ready(function () {
            tryLoadingThumbnail(uuidElement.val(), thumbnailElement)
        });
    </script>

{% endblock %}
