[Unit]
Description=Omoide worker daemon
After=network.target

[Service]
User=omoide
WorkingDirectory=/home/omoide/omoide
ExecStart=/home/omoide/omoide/run_worker.sh
EnvironmentFile=/etc/omoide/env
CPUAccounting=true
MemoryAccounting=true

[Install]
WantedBy=multi-user.target
