[Unit]
Description=Omoide worker daemon
After=network.target

[Service]
User=omoide-user
WorkingDirectory=/home/omoide-user/omoide
ExecStart=<путь до интерпретатора> -m omoide.omoide_worker
EnvironmentFile=/etc/omoide/env
CPUAccounting=true
MemoryAccounting=true

[Install]
WantedBy=multi-user.target
