[Unit]
Description=Omoide parallel worker daemon
After=network.target postgresql.service
Requires=postgresql.service

[Service]
User=omoide_user
WorkingDirectory=/home/omoide_user/omoide
ExecStart=/home/omoide_user/omoide/.venv/bin/python -m omoide.workers.serial
EnvironmentFile=/etc/omoide/env
CPUAccounting=true
MemoryAccounting=true

[Install]
WantedBy=multi-user.target
