[Unit]
Description=Omoide web server
After=network.target

[Service]
User=omoide-user
WorkingDirectory=/home/omoide-user/omoide
ExecStart=/home/omoide-user/omoide/run_app.sh
EnvironmentFile=/etc/omoide/env
CPUAccounting=true
MemoryAccounting=true

[Install]
WantedBy=multi-user.target
