.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #434343;
    overflow-x: hidden;
    transition: 0.25s;
    transform: translateX(-520px);
}

.sidenav-open {
    transform: translateX(0);
}

.sidenav a {
    transition: 0.2s;
    margin: 1em;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .sidenav {
      width: 500px;
  }
}

.opaque {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    transition: 0.6s;
}
