:root {
    --gap-tiny: 0.4em;
    --gap-small: 0.5em;
    --gap-normal: 0.5em;

    --radius: 5px;
    --large-radius: 10px;
    --main-text-color: #1a1b1d;
    --bright-text-color: #ffffff;
    --active-color: #8cb96f;
    --active-color-bright: #79cb3e;
    --background-color: #939393;
}

@media (min-width: 300px) {
    html, body {
        font-size: 28pt;
    }

    .query-container {
        margin: 1px 0;
        grid-column-gap: 0.1em;
        grid-template: "order collections nested paged login"
        "home input input input search";
    }

    .menu-container {
        margin: 0;
        grid-column-gap: 0.1em;
        grid-row-gap: 0.1em;
    }

    .envelope img {
        min-width: 800px;
        min-height: auto;
    }
}

@media (min-width: 1080px) {
    html, body {
        font-size: 16px;
    }

    .query-container {
        margin: 5px 0;
        grid-column-gap: 0.5em;
        grid-row-gap: 0.5em;
        grid-template: "home input input input search order collections nested paged login";
    }

    .menu-container {
        margin: 0;
        grid-column-gap: 0.5em;
    }

    .envelope img {
        min-width: unset;
        min-height: unset;
    }
}

.query-container {
    display: grid;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.qc-home {
    grid-area: home;
}

.qc-input {
    grid-area: input;
}

.qc-search {
    grid-area: search;
}

.qc-order {
    grid-area: order;
}

.qc-connected {
    grid-area: nested;
}

.qc-collections {
    grid-area: collections;
}

.qc-paged {
    grid-area: paged;
}

.qc-login {
    grid-area: login;
}

html, body {
    color: var(--main-text-color);
    background-color: var(--background-color) !important;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

textarea {
    border-radius: var(--radius);
}

textarea, input {
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
    padding: var(--gap-tiny);
}

textarea:focus, input:focus {
    outline: none;
}

.header-static, .header-floating {
    background-color: var(--background-color) !important;
    padding: 0;
    z-index: 13;
    width: 100%;
}

.header-floating {
    position: fixed;
}

.header-static {
}

.sub_header {
    max-width: 1800px;
    padding: 0 0 5px;
    margin: 0 auto;
}

.content {
    padding: 0;
}

.button, .button-disabled, .button-nav {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #747474;
}

.button {
    background-color: #a7aba7;
    color: #000000;
    border: 1px solid black;
}

.button-nav {
    background-color: #8095a0;
    color: #000000;
    border: 1px solid black;
}


.button-disabled {
    background-color: #232323;
    color: #7a7a7a;
}

.button:hover {
    color: #d3d4d5;
    background-color: #7c9271;
    text-decoration: none;
    cursor: pointer;
}

.button-nav:hover {
    color: #d3d4d5;
    background-color: #678a99;
    text-decoration: none;
    cursor: pointer;
}

.button-disabled:hover {
    background-color: #232323;
    color: #7a7a7a;
    text-decoration: none;
}

.button:active {
    background-color: #2a2a2a;
}

.button img, .button-disabled img {
    margin-right: 5px;
}

a:active {
    color: #ffffff;
}

.pages {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.pages a {
    color: var(--main-text-color) !important;
    background-color: rgba(70, 129, 60, 0.18);
    padding: 5px 15px;
    margin-top: var(--gap-tiny);
    margin-bottom: var(--gap-tiny);
    text-decoration: none;
    min-width: 1em;
    text-align: center;
    border: 1px solid #707070;
}

.page-left {
    border-radius: var(--radius) 0 0 var(--radius);
}

.page-right {
    border-radius: 0 var(--radius) var(--radius) 0;
}

.page-separate {
    border-radius: var(--radius);
}

.active-page {
    background-color: var(--active-color) !important;
}

.inactive-page {
    cursor: default !important;
}

.location {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.location a {
    color: #ffffff;
    text-decoration: none;
}

.location a:hover {
    color: #ffffff;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    text-align: center;
}

.envelope-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.envelope {
    border-radius: var(--radius);
    margin: var(--gap-tiny);
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0;
    position: relative;
}

.envelope p {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.envelope a {
    padding: 0;
    margin: 0;
}

.envelope a:hover {
    color: #ffffff;
}

.envelope img {
    width: 100%;
    height: 100%;
}

.narrow-block {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.medium-block {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.preview-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.preview-image img {
    max-height: 80vh;
    max-width: 80vw;
}

.preview-image a {
    margin: 0;
}

.preview-swipe {
    width: 100%;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #777777;
}

.preview-swipe:hover {
    background-color: #545454;
}

.preview-swipe-inactive {
    background-color: unset;
}

.preview-swipe-inactive:hover {
    background-color: unset;
    text-decoration: none;
    cursor: default;
}

.preview-swipe img {
    height: 2em;
}

.preview-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tag-box {
    color: #1A1B1DFF;
    border: 2px solid black;
    margin: 0.1em;
    padding: var(--gap-tiny);
    border-radius: var(--radius);
    background-color: #46813C2D;
    text-decoration: none;
    cursor: pointer;
}

.tag-box:hover {
    text-decoration: none;
    background-color: #46813CA3;
}

.tag-box:hover {
    color: #1A1B1DFF;
    text-decoration: none;
}

.env-collection {

}

.env-collection img {
    opacity: .5;
    z-index: 2;
}

.env-collection p {
    font-weight: bold;
    z-index: 1;
    text-shadow: 0 0 20px #000000;
}

.env-collection a {
    color: #ffffff;
    font-weight: bold;
}

.to-top-link {
    display: block;
    text-align: center;
    margin: auto;
    color: #ffffff;
    text-decoration: none;
}

.to-top-link:hover {
    color: #ffffff;
}

#query_element {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

progress {
    width: 100%;
}

input[type="checkbox"] {
    width: auto;
    height: auto;
    margin: 1em;
}

select {
    width: 100%;
}

.upload-element {
    background-color: #c1c1c1;
    border-radius: 5px;
    border: 1px solid #414141;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 5px;
}

.upload-element img {
    max-width: 100%;
}

.upload-lines {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    justify-content: center;
}

.notification {
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.small-notification {
    padding: 3px;
    font-size: medium;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 5px;
    vertical-align: center;
}

.om-alert {
    background-color: #f44336;
    color: white;
}

.om-announce {
    background-color: #77ec88;
    color: #000000;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: auto;
    margin-bottom: auto;
}

.closebtn:hover {
    color: black;
}

.upload-container {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
}

#global-status {
    margin-top: 15px;
}

table {
    text-align: center;
}

table td {
    padding: 0.5em;
}

.icon, .icon-big {
    filter: invert(1);
}

.icon {
    height: 1em;
    width: 1em;
}

.icon-big {
    height: 2em;
    width: 2em;
    margin: 2px;
}

.guess {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.copy-alerts {
    display: inline-block;
    position: absolute;
}
