:root {
    --gap-tiny: 0.4em;
    --gap-small: 0.5em;
    --gap-normal: 0.5em;

    --radius: 5px;
    --large-radius: 10px;
    --main-text-color: #1a1b1d;
    --bright-text-color: #ffffff;
    --active-color: #8cb96f;
    --active-color-bright: #79cb3e;
    --background-color: #939393;
}

@media (min-width: 300px) {
    html, body {
        font-size: 32pt;
    }

    input {
        font-size: 32pt;
        border-radius: var(--large-radius);
    }

    .query-container {
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-column-gap: 0.1em;
    }

    .wide-text {
        display: none;
    }

    .button {
        border-radius: var(--large-radius);
    }
}

@media (min-width: 1080px) {
    html, body {
        font-size: 12pt;
    }

    input {
        font-size: 12pt;
        border-radius: var(--radius);
    }

    .query-container {
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-column-gap: 1em;
    }

    .wide-text {
        display: block;
    }

    .button {
        border-radius: var(--radius);
    }
}

html, body {
    color: var(--main-text-color);
    background-color: var(--background-color);
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

input {
    color: var(--main-text-color);
    padding: var(--gap-tiny);
    width: 100%;
    height: 100%;
}

textarea:focus, input:focus {
    outline: none;
}

.button {
    padding: 2px;
    background-color: #545454;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid black;
}

.button:hover {
    color: var(--bright-text-color);
    background-color: #383838;
    text-decoration: none;
}

.button:active {
    color: var(--bright-text-color);
    background-color: black;
}

.button img {
    height: 100%;
}

a {
    color: var(--bright-text-color);
    display: inline-block;
}

a:link {
    color: var(--bright-text-color);
    text-decoration: none;
}

a:visited {
    color: var(--bright-text-color);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    color: var(--bright-text-color);
}

.pages {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.pages img {
    height: 100%;
}

.pages a {
    color: var(--main-text-color) !important;
    background-color: rgba(70, 129, 60, 0.18);
    padding: 5px 15px;
    margin-top: var(--gap-tiny);
    margin-bottom: var(--gap-tiny);
    text-decoration: none;
    min-width: 1em;
    text-align: center;
    border: 1px solid #707070;
}

.page-left {
    border-radius: var(--radius) 0 0 var(--radius);
}

.page-right {
    border-radius: 0 var(--radius) var(--radius) 0;
}

.page-separate {
    border-radius: var(--radius);
}

.active-page {
    background-color: var(--active-color) !important;
}

.inactive-page {
    cursor: default !important;
}

.location {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.location h3 {
    margin: 0;
}

h5 {
    margin: 0;
    text-align: center;
}

.envelope-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.envelope {
    border-radius: var(--radius);
    margin: var(--gap-tiny);
    box-shadow: rgba(0, 0, 0, 0.4) 0 3px 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0;
    position: relative;
}

.envelope p {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.envelope a {
    padding: 0;
    margin: 0;
}

.envelope img {
    width: 100%;
    height: 100%;
}

.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preview-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.preview-image img {
    max-height: 80vh;
    max-width: 80vw;
}

.preview-image a {
    margin: 0;
}

.preview-swipe {
    width: 100%;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #777777;
}

.preview-swipe:hover {
    background-color: #545454;
}

.preview-swipe-inactive {
    background-color: unset;
}

.preview-swipe-inactive:hover {
    background-color: unset;
    text-decoration: none;
    cursor: default;
}

.preview-swipe img {
    height: 2em;
}

.preview-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tag-box {
    color: var(--main-text-color) !important;
    border: 2px solid black;
    margin: 0.1em;
    padding: var(--gap-tiny);
    border-radius: var(--radius);
    background-color: #46813C2D;
    text-decoration: none;
    cursor: pointer;
}

.tag-box:hover {
    text-decoration: none;
    background-color: #46813CA3;
}

.tag-box > a {
    color: var(--main-text-color) !important;
    text-decoration: none;
}

.location-separator {
}

.invert {
    filter: invert(90%);
}

.env-collection {

}

.env-collection img {
    opacity: .5;
    z-index: 2;
}

.env-collection p {
    font-weight: bold;
    z-index: 1;
    text-shadow: 0 0 20px #000000;
}